@font-face {
  font-family: latinModern;
  src: url('subset-LMRoman12-Bold.woff') format('woff');
}

header {
	text-align: center;
}

body {
	margin:0px;
}

.bold{
	font-weight:bold;
}

#testBody {
	display:grid;
	grid-template-columns: 5rem 1fr 5rem;
}


/* hide the adjustment arrows on input fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}
/* done hiding arrows */


/* header navigation bar */
#navbar {
	text-align: center;
	background-color: rgba(133,196,40,0.5);
	width:100%;
	border:2px solid rgb(133,196,40);
	padding:10px;
}

.navElement{
	padding:10px 20px;
	font-family: "latinModern", "Times New Roman";
	text-decoration: none;
}
/* end header bar */


/* navigational sidebar */

.sidebar{
	background-color: rgba(133,196,40,0.5);
	width:fit-content;
	max-width: 300px;
	min-width: 100px;
	margin:10px;
	border:2px solid rgb(133,196,40);
	padding:10px 20px;
	border-radius: 6px;
	float: left;
}

.sidebar ul{
	list-style: none;
	padding:0px;
}

.sidebar ul li{
	padding:5px 0px;
}


/* end navigational sidebar */

#resultsBody{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: flex-start;
}


#sampleShare{
	text-align:center;
	display:flex;
	flex-direction: column;
	width:fit-content;
	margin:5px auto 10px auto;
	padding:3px 8px;
	font-size: 0.8em;
}


#buttonBar{
	display:flex;
	flex-direction: row;
	width:fit-content;
	margin: 0px auto;
}


#codeSample {
	font-size: 0.7em;
	width: 150px;
	margin:5px auto 10px auto;
	display:block;
}

.barButton{
	width: fit-content;
	margin: 0px;
	padding-top:5px;
	background-color:rgba(28,116,188,0);
}

#results{
	background-color: rgba(28,116,188,0.25);
	max-width: 300px;
	border: 2px solid rgb(28,116,188);
	padding:0px 20px 20px 20px;
	border-radius:5px;
	text-align: center;
	margin:10px;
}

.collapser {
	float:right;
}

.errorZone {
	font-size:0.75em;
}



.twoColumn{
	columns:2;
	padding-bottom: 1em;
}

footer {
	background-color: rgba(133,196,40,0.25);
	width:100%;
	border:2px solid rgb(133,196,40);
	z-index:10;
	position:sticky;
	bottom:0;
	text-align:center;
	padding: 10px;
}

footer input{
	padding:5px;
}

table, th, td {
  margin-left: auto;
  margin-right: auto;
  padding:10px 20px 10px 20px;
}

.standardTable tr:nth-child(even){
	background-color: rgba(28,116,188,0.25);
}

.standardTable tr:nth-child(odd){
	background-color: rgba(133,196,40,0.25);
}

#highscores tr:nth-child(even) {
	td:nth-child(2), td:nth-child(3), td:nth-child(4) {background-color: rgba(28,116,188,0.25);}
}

#highscores tr:nth-child(odd) {
	td:nth-child(2), td:nth-child(3), td:nth-child(4) {background-color: rgba(133,196,40,0.25);}
}

#highscores td:nth-child(3) {
	text-align: center;
}


.hoverable {
  position: relative;
  display: inline-block;
}

.hoverable .hovertext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(231, 246, 209);
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
  left:0px;
  top:30px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.hoverable:hover .hovertext {
  visibility: visible;
}





/* problem formatting */
#problemsBlock{
	text-align: center;
	width:100%;
}

.problem {
	background-color: rgba(28,116,188,0.25);
	max-width: 750px;
	border: 2px solid rgb(28,116,188);
	padding:0px 20px 10px 20px;
	border-radius:5px;
	text-align: center;
	margin:10px auto;
	display:grid;
	grid-template-columns: 100px 1fr 80px;
}

#points{
	max-width:80px;
	float: right;
	color:rgb(28,116,188);
}

#problemNumber{
	max-width:100px;
	float:left;
	position:absolute;
	color:rgb(28,116,188);
}

#problemStatement{

}

#answerBlank{

	display:inline-flex;
	align-items: center;
}

#answerBlank p{
	padding:0px 5px;
	min-width: 30px;
}
/* end problem formatting */




#personalInfo{
	z-index:5;
	background-color: rgba(133,196,40,1);
	border:2px solid rgb(133,196,40);
	padding:10px;
	width:fit-content;
	position:sticky;
	top:10px;
	float:left;
	margin:10px 10px;
	display:block;
	height:fit-content;
}

#trophyMain{
	margin:0px auto;
	width:fit-content;
}




