<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body>
  <div id="navbar">
      {% include 'navbar.html' %}
  </div>

  <div class="mainSection">

    {% for testgroup in testgroups %}
    {% if testgroup[2] %} <!-- if it's visible -->
        <div class="testGroup">
          <div class="groupTitle">{{testgroup[1]}}</div>
          <table class="standardTable testTable">
            <tbody>
              {% for test in testlist %}
                {% if test[3] %} <!-- if it's visible -->
                  {% if test[2] == testgroup[0] %} <!-- if it's in this group -->
                    <tr>
                      <td><a href="/test/{{test[0]}}">{{test[1]}}</a></td>
                    </tr>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    {% endfor %}
    

  </div>

</body>
</html>