<div class="sidebar personalInfo">
          <button type="button" class="collapser">»</button>
          <div id="infoContents" >
            <!--Username entry box and error display-->
            <p>{{form.username.label}}</p>
            <div id ="entryBlank">
                {{form.username()}}
                <div class="hoverable">
                  {% include 'questionmark.svg' %}
                  <span class="hovertext hoverBottomRight">For the public scoreboard.</span>
                </div> 
            </div>


            <div class="errorZone">
              {% if form.username.errors %}
                  {% for error in form.username.errors %}
                    {{error}}<br>
                  {% endfor %}
              {% endif %}
            </div>

            <!--Email entry box and error display-->
            <p>{{form.email.label}}</p>
            <div id="entryBlank">
                {{form.email()}}
                <div class="hoverable">
                 {% include 'questionmark.svg' %}
                  <span class="hovertext hoverBottomRight">Not publicly displayed.</span>
                </div> 
            </div>
            
            <div class="errorZone">
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                  {{error}}<br>
                {% endfor %}
            {% endif %}
            </div>

            <!-- Submit button -->
            <p>{{form.submit()}}</p> 
          </div>
        </div>
