<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Answers submitted!</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div id="navbar">
      {% include 'navbar.html' %}
    </div>

    <div id="results">
	    <h2>{{congrats}}!</h2>
	    <h3>{{score}} out of {{maxscore}}</h3>
	    <div id="resultstable">
		    {% for item in results %}
		    	Problem {{ loop.index }}
		    	{% if item == "1" %}
		    		✓
		    	{% endif %}
		    	{% if item == "0" %}
		    		✗
		    	{% endif %}
		    	<br>
		    {% endfor %}
		</div>
	</div>

</body>
</html>