<!DOCTYPE html>
<html>


  <head>
    <title>Competition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
  </head>


  <body>

    <div id="navbar">
      {% include 'navbar.html' %}
    </div>

    <header>
      <h1>{{ name }}</h1>
    </header>

    <div class="mobileZone">
      <button type="button" class="jumpButton">↓ Jump to end</button>
      <button type="button" class="infoButton">Test info</button>
    </div>
    <div class="mainSection">


    <form method="post" action="" id="testForm">
      {{form.csrf_token}}

      <!-- left sidebar: login box -->
      {% include 'personalinfo.html' %}

      <!-- now the section with the problems! -->
      {% include 'testproblems.html' %}


    </form>

    <!-- rules info -->
    {% include 'testrules.html' %}


  </div>

    <script type="text/javascript"> /* this gives collapsible elements their behavior*/

      var coll = document.getElementsByClassName("collapser");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          var collapsible = this.nextElementSibling;
          if (collapsible.style.display === "none") {
            collapsible.style.display = "block";
          } else {
            collapsible.style.display = "none";
          }
        })
      }


    </script> 
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
      };
    </script>

  </body>
</html>